<link href="../static/css/grid.css" rel="stylesheet" type="text/css"  />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, initial-scale=1">
<img class="headerImg" src="https://teachers.henrico.k12.va.us/deeprun/cit/web_images/logo-cropped.png" alt="CIT Logo">
<div class="website-grid">
<div class="header">
<!-- <div class="title"> -->
<!-- VPS Banner -->
<img src = "https://teachers.henrico.k12.va.us/deeprun/cit/web_images/logo-cropped.png" alt="CIT Logo" style="width: 60px; height: 60px;"><b>Video Picture Streaming</b>
<!-- <img class="header" src="https://live.staticflickr.com/65535/51943943302_e21bbf37ab_b.jpg"> -->
<!-- </div> -->
     </div>
     <script src="../static/js/script.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script type=text/javascript>
           $(function() {
             $('a#test').on('click', function(e) {
               e.preventDefault()
               $.getJSON('create',
                   function(data) {
                 //do nothing
               });
               return false;
             });
           });
   </script>
  
<body onload="load2('{{ datad }}')">
   <div id="slideshow-grid">
     <!--
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p>
        <!--<a href='/edit?pageName=slideshow-template'>
          <button>Edit</button>
        </a>  not sure as to the diffrence between the edit and load templates-->  
       <!--</div>
     -->
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" /> -->
        <img src="https://www.pngkey.com/png/full/10-104955_camera-icon-white-small-camera-icon-white-png.png"/> <!-- Obtained from Google-searching "white camera icon transparent background" -->
        </a>  
        <p>Slideshow Name</p>
       </div>
     <!--
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p>
       </div>
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p> 
       </div>
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p> 
       </div>
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p>
       </div>
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p>
       </div>
      <div class="item">
        <a href='/load?pageName=slideshow-template'> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Generic_Camera_Icon.svg/1213px-Generic_Camera_Icon.svg.png" />
        </a>  
        <p>Slideshow Name</p>
       </div>-->
   </div></body>
  
   <!DOCTYPE html>
 <html lang="en">
<div id="create-button">
         <div id="form5" style = "display: none;">
           <form action="/create" onsubmit="run2()" class="form-container" method="POST">
             <h3>Create new slideshow</h3>
            <div class="creation-ui-grid">
             <!-- <br/> -->
             
             <!-- <label for="title"><b>Title:</b></label> -->
             <!-- <br/> -->
             <input type="text" class ="title" placeholder="Title (✐)" name="title" id="title1" required><!-- <br><br> --><input type ="file" id="img2">
             <!-- <label for="image"><b>Image:</b></label> -->
             <!-- <br/> -->
             <input type="text" placeholder="Image URL (🔗)" name="image" id="img1" required>
                <!-- "Enter Image Link" changed to "Image URL (🔗)"-->
              </div>
             <button class="button2" type="submit" id="btn" onclick="hide('form5');unhide('form6');return validateForm()" >Create (✚)</button>
             <button class="button-exit" type="button" class="btn cancel" onclick="hide('form5');unhide('form6');">Close (✖)</button>
           </form>
         </div>
     <button class="button1" onclick="unhide('form5');hide('form6')" id = "form6">New Slideshow (✚)</button>
   </div>  
 </div>
 <h12> For The Best Experience Please Switch Your Moblie Device's Orientation To Landscape </h5>
 </html>
